@font-face {
  font-family: 'Iceland';
  src: url("../assets/Iceland-Regular.ttf") format('truetype');
}




body {
  background-image:  url("../assets/pack_graphique/Wallpaper4_(1).png");
  background-position: center;
  width: 100vw;
  background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
    overflow: hidden;
}


#text_countdown {
  color: white;
}

.class-main {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-timer {
    justify-content: center;
    align-items: center;
    font-size: 25vh;
}

#countdown {
color: white;
font-family: 'Iceland';
font-size: 20vh;
}

#btn-discord {
position: fixed;
bottom: 5vh;
left: 45%;
height: 10vh;
width: 10vw;
background-color: transparent;
border: none;
}

#offcanvasBottom {
background-color: transparent;
border: none;
backdrop-filter: blur(5px);
height: 25vh;
}

#logos_reseaux {
display: flex;
justify-content: space-around;
align-items: center;
}



@media (min-width: 845px) {
body {
  height: 100vh;
}
}

@media (max-width: 845px) {
body {
  height: 100vh;
}
#countdown {
  font-size: 5vh;
}

#offcanvasBottom {
height: 80vh;
}

#logos_reseaux {
  rotate: 90deg;
  width: 100vw;
  height: 80vh;
}

#logos_reseaux>img {
  display: flex;
  justify-content: space-around;
  height: auto;
  width: 18%;
  rotate: 270deg;
}

#btn-discord {
  position: fixed;
  bottom: 5vh;
  left: 35%;
}
}